body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}
#board {
    width:75%;
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
    border: solid black .2em;
}
.selected {
    background-color: lightgray !important;
    color: black !important;
}
.board-square {
    width: 12.5%;
    height: auto;
    display: inline-block;
    overflow: hidden;
}

.board-square img {
    width: 100%;
    height: 100%;
    
}

.valid-move {
    background-color: grey !important;
    color: black !important;
}

.white-suqare {
    background-color: white;
    color: black;
}

.black-square {
    background-color: #383838;
    color: white;
}